<div class="match">
	<div class="game">
		<div><%= new Date(startTime) %></div><br>
		<div><%= WC.getTeam(homeTeamId).name %> x <%= WC.getTeam(awayTeamId).name %></div>

		<div><%= venue %></div>
	</div>
</div>