<div class="teams">

	<div class="btn-group submenu">
		<a href="#" class="btn btn-primary" data-sort="goalsFor">Goals For</a>
		<a href="#" class="btn btn-default" data-sort="group">Group</a>
		<a href="#" class="btn btn-default" data-sort="name">Alphabetically</a>
	</div>
    <div class="items row">
        
    </div>
</div>