@import 'compass/css3';

$icon-font-path: "/styles/fonts/";
$brand-primary: #7FC31C;
$brand-secondary: #B5DC10;
$brand-tertiary: #EE3A23;
$brand-quaternary: #E42200;
$brand-quinary: #00A0C6;
$brand-senary: #05349E;

$link-color: #798285;

$screen-sm: 640px !default;
$grid-float-breakpoint: 769px;

$headings-font-weight: 700 !default;

@import '_bootstrap';

$light-bg: $navbar-default-bg;
$border-color: $table-border-color;

@import url(//fonts.googleapis.com/css?family=Arvo:400,700);

@mixin truncate($width: 100%) {
	text-overflow: ellipsis;
	overflow: hidden;
	width: $width;
	white-space: nowrap;
}

.browsehappy {
	background-color: #000;
	color: #FFF;
	padding: 1.6em;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10000;
}

body {
	background-color: #CCC;
	font-family: Arvo, serif;
	padding-top: 70px;
}

img.svg {
	display: block;
	margin: 0 auto;
	width: 280px;
}

.site-header {

	.navbar {
		border-bottom: none;
		background-color: $brand-secondary;
	}

	.navbar-brand,
	.navbar-brand:hover {
		background-color: $brand-primary;
		color: #FFF;
		font-weight: 700;
		min-width: 240px;
	}

	.navbar-nav {
		> li {
			a,
			a:hover {
				color: $brand-tertiary;
				font-weight: 700;
			}

			&.active {
				> a,
				> a:hover,
				> a:active {
					background-color: $brand-tertiary;
					color: #FFF;
				}
			}
		}
	}

	.navbar-toggle {
		background-color: $brand-primary !important;
		border-color: $brand-primary;

		.icon-bar {
			background-color: #FFF;
		}

		&:focus {
			background-color: $brand-primary;
		}

		&.collapsed {
			background-color: #FFF !important;
			border-color: $brand-primary;

			.icon-bar {
				background-color: $brand-primary;
			}
		}
	}
}

footer {
	color: $brand-tertiary;
	padding: 20px 0;

	a, a:hover {
		color: $brand-tertiary;
		text-decoration: underline;
	}
}

.team,
.match,
.player,
.stats {
	@include border-radius(10px);
	background-color: #FFF;
	border: 1px solid #DDD;
	margin-bottom: 20px;
	padding: ($grid-gutter-width / 2);
	text-align: center;
}

.team.dead {
	.team-name,
	.team-info {
		color: red;
	}
}

.team-name {
	min-height: 68px;
}

.team-info {
	> * {
		font-size: 16px;

		> div {
			font-size: 32px;
		}

		&:nth-of-type(1) {
			text-align: left;
		}

		&:nth-of-type(2) {
			text-align: right;
		}
	}
}

.team-goals {
	margin-bottom: ($grid-gutter-width / 2);
	text-align: left;

	> div {
		font-size: 24px;
		padding-left: 15px;
		padding-right: 0;

		&:nth-of-type(2) {
			padding: 0;
			text-align: center;
		}

		&:nth-of-type(3) {
			padding-left: 0;
			padding-right: 15px;
			text-align: right;
		}

		.icon {
			height: 24px;
			width: 24px;
		}
	}
}

.team-matches {
	text-align: left;
}

.match-game {
	border-top: 1px solid $border-color;
	color: $text-muted;
	font-size: 14px;
	min-height: 50px;
	padding: ($grid-gutter-width / 6) 0;

	.match & {
		border-top: none;
		padding: 0;
	}

	&.final {
		color: $text-color;
	}

	> div {
		min-height: 36px;

		&.left {
			background-image: url(http://www.geoips.com/assets/img/flag/32/nl.png);
			background-position: top right;
			background-repeat: no-repeat;
			background-size: 24px;
			padding: 0 ($grid-gutter-width) 0 ($grid-gutter-width / 6) ;
			text-align: right;
		}

		&.center {
			padding: 0;
			text-align: center;
		}

		&.right {
			background-image: url(http://www.geoips.com/assets/img/flag/32/br.png);
			background-position: top left;
			background-repeat: no-repeat;
			background-size: 24px;
			padding: 0 ($grid-gutter-width / 6) 0 ($grid-gutter-width);
			text-align: left;
		}

		&.venue {
			padding-left: 0;
			text-align: left;
		}

		&.time {
			padding-right: 0;
		}

		.goals {
			font-size: 18px;
		}
	}
}

.team-stats {
	background-color: #FFF;
	border-bottom: 1px solid $text-muted;
	border-top: 1px solid $text-muted;
	margin-top: ($grid-gutter-width / 2);
	margin-bottom: 0;

	.item {
		padding: ($grid-gutter-width / 3) ($grid-gutter-width / 6) ($grid-gutter-width / 6);
		text-align: center;
		text-decoration: none;

		& + .item {
			border-left: 1px solid $text-muted;
		}

		&.active {
			background-color: $navbar-default-bg;
		}

		div {
			font-size: 18px;
			font-family: Arvo, serif;
			line-height: 1;
		}
	}

	h4 {
		margin: 0;

		a {
			display: block;
			line-height: 2;
			text-align: left;
			@include truncate(100%);
		}
	}
}

.stats {

	margin-bottom: ($grid-gutter-width / 2);
	text-align: left;

	svg.icon {
		height: 50px;
		width: 50px;
		fill: #FFF;
	}
}

.stats-number {
	float: left;

	> div {
		@include border-radius(50%);
		background-color: $brand-tertiary;
		display: table;
		margin: 0 auto;
		height: 80px;
		width: 80px;

		> div {
			color: #FFF;
			display: table-cell;
			font-size: 0;
			vertical-align: middle;
			text-align: center;
		}
	}
}

.stats-caption {
	margin: 5px 0 0 90px;

	div {
		font-size: 32px;
	}
}

.player {
	padding: ($grid-gutter-width / 3);
	text-align: left;

	img {
		border: 1px solid $border-color;
		float: left;
		@include border-radius(50%);
		width: 64px;
	}

	> div {
		margin-left: 74px;
		width: 100%;

		h5 {
			margin-top: ($grid-gutter-width / 6);
		}

		h3 {
			margin: 0;
		}
	}
}

.match {
	padding: ($grid-gutter-width / 3);
	text-align: left;

	.stats-number {

		> div {
			background-color: $brand-quinary;
			height: 64px;
			width: 64px;

			> div {
				font-size: 24px;
				line-height: 1;
			}
		}

		& + div {
			margin-left: 74px;
			width: 100%;
		}
	}
}

.submenu {
	margin-bottom: ($grid-gutter-width / 2);

	.btn {
		font-size: 12px;
		padding: 4px 8px;
	}
}

svg.icon {
	height: 32px;
	width: 32px;
	vertical-align: baseline;
}

@media (max-width: 768px) {
	.team {
		img {
			width: 75px;
		}
	}
}

@media (max-width: 1200px) {
	.match-game {
		font-size: 13px;
	}
}

@media (min-width: 1200px) {
	.match-game {
		font-size: 12px;
	}
}